body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 200;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}
footer ul li{
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 1px;
    margin-top: 15px;
    font-weight: 500;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
}

.active, .collapsible:hover {
background-color: white;
}

.collapsible:after {
color: white;
float: right;
}

.content {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: white;
font-size: 1.2em;
}

